.portfolio__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 2rem;
    place-items: center;
    column-gap: 2rem;
    margin: 2rem;
  }

  @media screen and (max-width: 767px) {
    .portfolio__container {
      display: flex;
      flex-direction: column;
      padding: 2rem;
      padding-bottom: 0;
    }
  
  }
.portfolio__container .card{
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgba(80, 78, 78, 0.5);
    text-align: center;
    width: 100%;
    margin: 2rem;
}
@media screen and (max-width: 767px) {
    .portfolio__container .card{
      width: 100%;
    }
  }
.portfolio__container .card .img{
    width:100%;
    height:100%;
    object-fit: cover;
    overflow: hidden;
}
.portfolio__container .card .img img{
    width:100%;
    height:100%;
    object-fit: cover;
    overflow: hidden;
}
.portfolio__container .card .img video{
    width:100%;
    height:100%;
    object-fit: cover;
    overflow: hidden;
}
.portfolio__container .card .title__content{
    text-align: center;
    z-index: 20;
    width: 100%;
}
.portfolio__container .card .title__content h3{
    font-weight: 500;
    letter-spacing: 2px;
    color: #9cc9e3;
    padding: 1rem;
    font-size: 1.5rem;
}
.portfolio__container .card .title__content hr{
    width: 50px;
    height: 3px;
    margin: 10px auto;
    border: 0;
    background: #FFC300;
}
.portfolio__container .card .desc__content{
    width: 100%;
    padding: 0 50px;
    color: #e4e6e7;
    font-style: 2rem;
    line-height: 24px;
    text-align: justify;
    @media screen and (max-width: 767px) {
        .portfolio__container .card .desc__content{
            padding:.3rem
        }
   
}}
.portfolio__container .card .tags{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}
.portfolio__container .card .tags .tag{
    color: #d8bfbf;
    font-size: 1rem;
}
.portfolio__container .card .content{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    margin-top: 1rem;
}
.portfolio__container .card .content .btn{
    width:max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}
.portfolio__container .card .content .btn:hover{
    background: var(--color-white);
    color: var(--color-bg);
}
